App_WebReferences/DSPU/DSPortalUsers.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="GetPortalsForUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SsoCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPortalsForUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPortalsForUserResult" type="tns:ArrayOfDataserverPortalUser" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDataserverPortalUser">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DataserverPortalUser" nillable="true" type="tns:DataserverPortalUser" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DataserverPortalUser">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s1:guid" />
          <s:element minOccurs="1" maxOccurs="1" name="SsoCode" type="s1:guid" />
          <s:element minOccurs="0" maxOccurs="1" name="PortalUri" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PortalName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ArrayOfDataserverPortalUser" nillable="true" type="tns:ArrayOfDataserverPortalUser" />
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetPortalsForUserSoapIn">
    <wsdl:part name="parameters" element="tns:GetPortalsForUser" />
  </wsdl:message>
  <wsdl:message name="GetPortalsForUserSoapOut">
    <wsdl:part name="parameters" element="tns:GetPortalsForUserResponse" />
  </wsdl:message>
  <wsdl:message name="GetPortalsForUserHttpGetIn">
    <wsdl:part name="Username" type="s:string" />
    <wsdl:part name="Password" type="s:string" />
    <wsdl:part name="SsoCode" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetPortalsForUserHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfDataserverPortalUser" />
  </wsdl:message>
  <wsdl:message name="GetPortalsForUserHttpPostIn">
    <wsdl:part name="Username" type="s:string" />
    <wsdl:part name="Password" type="s:string" />
    <wsdl:part name="SsoCode" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetPortalsForUserHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfDataserverPortalUser" />
  </wsdl:message>
  <wsdl:portType name="DSPortalUsersSoap">
    <wsdl:operation name="GetPortalsForUser">
      <wsdl:input message="tns:GetPortalsForUserSoapIn" />
      <wsdl:output message="tns:GetPortalsForUserSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="DSPortalUsersHttpGet">
    <wsdl:operation name="GetPortalsForUser">
      <wsdl:input message="tns:GetPortalsForUserHttpGetIn" />
      <wsdl:output message="tns:GetPortalsForUserHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="DSPortalUsersHttpPost">
    <wsdl:operation name="GetPortalsForUser">
      <wsdl:input message="tns:GetPortalsForUserHttpPostIn" />
      <wsdl:output message="tns:GetPortalsForUserHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DSPortalUsersSoap" type="tns:DSPortalUsersSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPortalsForUser">
      <soap:operation soapAction="http://tempuri.org/GetPortalsForUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DSPortalUsersSoap12" type="tns:DSPortalUsersSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPortalsForUser">
      <soap12:operation soapAction="http://tempuri.org/GetPortalsForUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DSPortalUsersHttpGet" type="tns:DSPortalUsersHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GetPortalsForUser">
      <http:operation location="/GetPortalsForUser" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DSPortalUsersHttpPost" type="tns:DSPortalUsersHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GetPortalsForUser">
      <http:operation location="/GetPortalsForUser" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DSPortalUsers">
    <wsdl:port name="DSPortalUsersSoap" binding="tns:DSPortalUsersSoap">
      <soap:address location="https://tntdataserver.eu/portalusers/DSPortalUsers.asmx" />
    </wsdl:port>
    <wsdl:port name="DSPortalUsersSoap12" binding="tns:DSPortalUsersSoap12">
      <soap12:address location="https://tntdataserver.eu/portalusers/DSPortalUsers.asmx" />
    </wsdl:port>
    <wsdl:port name="DSPortalUsersHttpGet" binding="tns:DSPortalUsersHttpGet">
      <http:address location="https://tntdataserver.eu/portalusers/DSPortalUsers.asmx" />
    </wsdl:port>
    <wsdl:port name="DSPortalUsersHttpPost" binding="tns:DSPortalUsersHttpPost">
      <http:address location="https://tntdataserver.eu/portalusers/DSPortalUsers.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>